<?xml version="1.0"?>

<robot name="sensor_camera" xmlns:xacro="http://ros.org/wiki/xacro"
                        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:macro name="sensor_camera" params="name parent *origin">
      
    <joint name="${name}_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="zed_camera_center"/>
    </joint>

    <link name="zed_camera_center">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
	 	 			<box size="0.033 0.175 0.03"/>
    	  </geometry>
				<material name="bule"/>
      </visual>
    </link>

  </xacro:macro>

</robot>
