<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="sensor_camera">
  <xacro:macro name="sensor_camera" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="zed_camera_center"/>
    </joint>
    <link name="zed_camera_center">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.1"/>
        <inertia ixx="0.005" ixy="0.0" ixz="0.0" iyy="0.005" iyz="0.0" izz="0.005"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.033 0.175 0.03"/>
        </geometry>
        <material name="bule"/>
      </visual>
    </link>
  </xacro:macro>
</robot>
