<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="sensor_mid360" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <!-- MID360 -->
    <link name="${name}">
      <visual>
        <origin xyz="0 0 -0.047" rpy="0 0 0"/>
        <geometry>
          <box size="0.065 0.065 0.060"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.047" rpy="0 0 0"/>
        <geometry>
          <box size="0.065 0.065 0.060"/>
        </geometry>
      </collision>
    </link>
    <!-- MID360 -->

  </xacro:macro>
</robot>
