<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="cost_cloud_process"/>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="true"/>
  <arg name="cloud_source" default="/rfans/surestar_points"/>
  <arg name="manager" default="cost_cloud_process_manager"/>
  <arg name="field_name" default="z"/>
  <arg name="limit_min" default="-0.15"/>
  <arg name="limit_max" default="0.8"/>
  <arg name="output_frame_id" default=""/>
  <group ns="$(arg namespace)" clear_params="true">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" respawn="$(arg respawn)">
    </node>
    <node pkg="nodelet" type="nodelet" name="voxel_grid_filter" args="load pcl/VoxelGrid $(arg manager) $(arg respawn)">
      <param name="filter_field_name" value="$(arg field_name)"/>
      <param name="filter_limit_min" value="$(arg limit_min)"/>
      <param name="filter_limit_max" value="$(arg limit_max)"/>
      <param name="leaf_size" value="0.1"/>
      <param name="min_points_per_voxel" value="0.05"/>
      <remap from="~input" to="$(arg cloud_source)"/>
      <remap from="~output" to="$(arg cloud_source)/voxel_grid"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="pass_through_filter" args="load pcl/PassThrough $(arg manager) $(arg respawn)">
      <param name="filter_field_name" value="$(arg field_name)"/>
      <param name="filter_limit_min" value="$(arg limit_min)"/>
      <param name="filter_limit_max" value="$(arg limit_max)"/>
      <param name="filter_limit_negative" value="false"/>
      <remap from="~input" to="$(arg cloud_source)/voxel_grid"/>
      <remap from="~output" to="$(arg cloud_source)/pass_through"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="crop_box_filter" args="load pcl/CropBox $(arg manager) $(arg respawn)">
      <param name="filter_field_name" value="$(arg field_name)"/>
      <param name="filter_limit_min" value="$(arg limit_min)"/>
      <param name="filter_limit_max" value="$(arg limit_max)"/>
      <param name="negative" value="true"/>
      <param name="min_x" value="-0.75"/>
      <param name="max_x" value="0.0"/>
      <param name="min_y" value="-0.5"/>
      <param name="max_y" value="0.5"/>
      <remap from="~input" to="$(arg cloud_source)/pass_through"/>
      <remap from="~output" to="$(arg cloud_source)/crop_box"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="radius_outlier_remover" args="load pcl/RadiusOutlierRemoval $(arg manager) $(arg respawn)">
      <param name="filter_field_name" value="$(arg field_name)"/>
      <param name="filter_limit_min" value="$(arg limit_min)"/>
      <param name="filter_limit_max" value="$(arg limit_max)"/>
      <param name="filter_limit_negative" value="false"/>
      <param name="radius_search" value="0.1"/>
      <param name="min_neighbors" value="2"/>
      <param name="output_frame" value="$(arg output_frame_id)"/>
      <remap from="~input" to="$(arg cloud_source)/crop_box"/>
      <remap from="~output" to="$(arg cloud_source)/radius_outlier_removed"/>
    </node>
   </group>
</launch>
