<?xml version="1.0"?>

<launch>
  <arg name="param_file_name"     default="zed_f9p" />
  <arg name="param_file_dir"      default="$(find orne_box_bringup)/config/ublox" />

  <arg name="node_name"           default="ublox" />
  <arg name="output"              default="screen" />
  <arg name="respawn"             default="true" />
  <arg name="respawn_delay"       default="30" />
  <arg name="clear_params"        default="true" />

  <node pkg="ublox_gps" type="ublox_gps" name="$(arg node_name)"
        output="$(arg output)"
        clear_params="$(arg clear_params)"
        respawn="$(arg respawn)"
        respawn_delay="$(arg respawn_delay)">
    <rosparam command="load" file="$(arg param_file_dir)/$(arg param_file_name).yaml" />
  </node>
</launch>
