<?xml version="1.0"?>
<launch>
  <arg name="port"    default = "/dev/sensors/witmotion" />
  <node pkg="nodelet" type="nodelet" output="screen" name="wit_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" output="screen" name="wit" args="load wit_node/WitNodelet wit_nodelet_manager" >
    <param name="port" value="$(arg port)" />
    <remap from="imu"  to="imu_data" />
  </node>  
</launch>
