<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find orne_box_description)/urdf/orne_box.urdf.xacro"/>
  <arg name="world" default="worlds/Tsudanuma_2-3.world"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="extra_gazebo_args" default="orne_box/diff_drive_controller/odom:=odom orne_box/diff_drive_controller/cmd_vel:=cmd_vel"/>
  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="cloud_source" default="/rfans_points"/>
  <arg name="output" default="screen"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'"/>
  
  <rosparam file="$(find orne_box_simulations)/config/controller_box.yaml" command="load"/>

  <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" ns="orne_box" output="screen" args="joint_state_controller diff_drive_controller">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" respawn="false" output="screen" ns="orne_box">
  </node>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model orne_box -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>

  <include file="$(find orne_box_bringup)/launch/includes/robot_localization.launch"/>

  <include file="$(find orne_box_bringup)/launch/includes/teleop_joy.launch">
    <arg name="joy_dev" value="$(arg joy_dev)"/>
  </include>

  <include file="$(find orne_box_bringup)/launch/includes/cost_cloud_postprocessor.launch">
    <arg name="cloud_source" value="$(arg cloud_source)"/>
  </include>

  <node pkg="orne_box_bringup" type="projected_transform_publisher_node" name="projected_transform_publisher" output="$(arg output)">
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_box_simulations)/rviz/sim.rviz"/>

</launch>
