<?xml version="1.0"?>

<robot name="adis16470" xmlns:xacro="http://ros.org/wiki/xacro"
                        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:macro name="sensor_imu" params="name parent *origin">
      
    <joint name="${name}_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <origin rpy="0 0 0" xyz="-0.016 0 0"/>
        <geometry>
          <box size="0.08 0.06 0.0016"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 0.8 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0.0008"/>
        <geometry>
          <box size="0.047 0.047 0.002"/>
        </geometry>
        <material name="white">
          <color rgba="0.9 0.9 0.9 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0.0028"/>
        <geometry>
          <box size="0.03 0.03 0.0016"/>
        </geometry>
        <material name="green">
          <color rgba="0.0 0.8 0.0 1.0"/>
        </material>
      </visual>
      <visual>
        <origin rpy="0 0 0" xyz="0 -0.006 0.0088"/>
        <geometry>
          <box size="0.015 0.011 0.012"/>
        </geometry>
        <material name="white"/>
      </visual>
      <visual>
        <origin rpy="0 0 0" xyz="0 0.01 0.0068"/>
        <geometry>
          <box size="0.020 0.004 0.010"/>
        </geometry>
        <material name="black">
          <color rgba="0.1 0.1 0.1 1.0"/>
        </material>
      </visual>
    </link>

    <gazebo>
      <plugin name="ros_imu" filename="libgazebo_ros_imu.so">
        <bodyName>imu_link</bodyName> <!-- bodyName always set base_link by URDF parser -->
        <topicName>imu_data</topicName>
        <serviceName>imu_service</serviceName>
        <gaussianNoise>0.005</gaussianNoise>
        <updateRate>100.0</updateRate>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
