<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="box2"/>
  <arg name="map_file" default="$(find orne_box_navigation_executor)/maps/tsudanuma"/>
  <arg name="odom_topic" default="odom"/>
  <arg name="cmd_vel" default="nav_vel"/>
  <node pkg="map_server" type="map_server" name="map_server_for_costmap" args="$(arg map_file)_for_costmap.yaml">
    <param name="frame_id" value="map_for_costmap"/>
    <remap from="/map" to="/map_for_costmap"/>
  </node>
  <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="false">
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/robot_radius.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/costmap_common.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/footprint.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/local_costmap.yaml" command="load"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/global_costmap.yaml" command="load"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/move_base.yaml" command="load"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/base_local_planner.yaml" command="load"/>
    <!--rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/trajectory_local_planner.yaml" command="load"/-->
    <!--rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/dwa_local_planner.yaml" command="load"/-->
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/navfn_global_planner.yaml" command="load"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/global_planner.yaml" command="load"/>
    <rosparam file="$(find orne_box_navigation_executor)/config/move_base/$(arg robot_name)/recovery_behaviors.yaml" command="load"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
  </node>
</launch>
