<?xml version="1.0"?>

<launch>
  <arg name="robot_name"     default="box2"/>
  <arg name="map_pcd"/>
  <arg name="costmap_file"   default="$(find orne_box_navigation_executor)/maps/mymap"/>
  <arg name="cmd_vel" default="cmd_vel"/>
  <arg name="odom_topic" default="odometry/filtered"/>
  <arg name="cloud_topic" default="rfans/surestar_points"/>
  <arg name="imu_topic" default="imu_data"/>
  <arg name="waypoint_config" default="$(find orne_box_navigation_executor)/config/waypoint_server/waypoint_server.yaml"/>

  <include file="$(find orne_box_navigation_executor)/launch/move_base.launch">
    <arg name="robot_name"  value="$(arg robot_name)"/>
    <arg name="map_file"    value="$(arg costmap_file)"/>
    <arg name="cmd_vel"     value="$(arg cmd_vel)"/>
    <arg name="odom_topic"  value="$(arg odom_topic)"/>
  </include>

  <include file="$(find orne_box_navigation_executor)/launch/mcl_3dl.launch">
    <arg name="map_pcd"     value="$(arg map_pcd)"/>
    <arg name="odom_topic"  value="$(arg odom_topic)"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="imu_topic"   value="$(arg imu_topic)"/>
  </include>

  <include file="$(find orne_box_navigation_executor)/launch/waypoint_server.launch">
    <arg name="config_file" value="$(arg waypoint_config)"/>
  </include>

  <include file="/home/orne-box/orne_ws/src/conv_for_piechart/launch/alpha_conv.launch">
  </include>

</launch>

