<?xml version="1.0"?>

<launch>
  <arg name="robot_name"     default="box"/>
  <arg name="map_pcd"/>
  <arg name="costmap_file"   default="$(find orne_navigation_executor)/maps/mymap"/>

  <include file="$(find orne_box_navigation_executor)/launch/move_base.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file"   value="$(arg costmap_file)"/>
    <arg name="odom_topic" value="odometry/filtered"/>
    <arg name="cmd_vel"    value="icart_mini/cmd_vel"/>
  </include>

  <include file="$(find orne_box_navigation_executor)/launch/mcl_3dl.launch">
    <arg name="map_pcd"    value="$(arg map_pcd)"/>
  </include>

</launch>

