<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="enable_zed" default="false"/>
  <arg name="ypspur_serial_port" default="/dev/sensors/icart-mini"/>
  <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros" output="$(arg output)" respawn="true">
    <rosparam command="load" file="$(find orne_box_bringup)/config/ypspur_ros.yaml" subst_value="true"/>
    <param name="param_file" value="$(find orne_box_bringup)/config/ypspur/box_v2.param"/>
    <param name="port" value="$(arg ypspur_serial_port)"/>
  </node>
  <include file="$(find orne_box_bringup)/launch/includes/description.launch.xml">
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find orne_box_description)/urdf/orne_box_3d_lidar.urdf.xacro'" />
  </include>
  <include file="$(find orne_box_bringup)/launch/includes/teleop_joy.launch"/>
  <include file="$(find orne_box_bringup)/launch/includes/robot_localization.launch"/>  
  <include file="$(find orne_box_bringup)/launch/includes/VLP16_points.launch"/>  
  <include file="$(find orne_box_bringup)/launch/includes/urg.launch"/>  
  <include file="$(find orne_box_bringup)/launch/includes/adis_rcv_csv_orne.launch"/>
  <!--include file="$(find orne_box_bringup)/launch/includes/adis16465.launch"/-->
  <!--include file="$(find orne_box_bringup)/launch/includes/rfans16.launch"/-->
  <!--include file="$(find orne_box_bringup)/launch/includes/ublox_device.launch"/-->
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch" if="$(arg enable_zed)">
    <arg name="camera_name" value="zed"/>
    <arg name="camera_model" value="zed"/>
  </include>
  <include file="$(find orne_box_bringup)/launch/includes/cost_cloud_postprocessor.launch">
    <arg name="cloud_source" default="/velodyne_driver/velodyne_points"/>
  </include>
  <node pkg="orne_box_bringup" type="projected_transform_publisher_node" name="projected_transform_publisher" output="$(arg output)">
  </node>
</launch>
