<?xml version="1.0"?>

<launch>

  <include file="$(find icart_mini_driver)/launch/icart_mini_drive.launch">
    <arg name="model"           value="$(find xacro)/xacro.py '$(find orne_box_description)/urdf/orne_box.urdf.xacro'" />
    <arg name="ypspur_params"   value="$(find orne_box_setup)/config/orne_box.param" />
    <arg name="use_eth_urg"     value="true" />
    <arg name="urg_ip"          value="192.168.0.10" />
  </include>

    <include file="$(find orne_box_bringup)/launch/includes/robot_localization.launch"/>

  <include file="$(find orne_box_bringup)/launch/includes/rfans16.launch"/>

</launch>

