<?xml version="1.0"?>

<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find icart_mini_gazebo)/worlds/Tsudanuma_2-3.world"/>
      <arg name="debug" value="false" />
      <arg name="gui" value="true" />
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="headless" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find orne_box_description)/urdf/orne_box_tilted_lidar.urdf.xacro'"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model icart_mini -param robot_description"/>
  
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find icart_mini_control)/config/icart_mini_control.yaml" command="load"/>
    <rosparam file="$(find orne_box_tilted_lidar)/config/tilted_lidar_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="icart_mini joint_state_controller tilted_lidar_pitch_controller tilted_lidar_roll_controller tilted_lidar_mirror1_controller tilted_lidar_mirror2_controller tilted_lidar_prismatic_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

<!--
    <node type="convert_pointcloud_node" pkg="orne_box_tilted_lidar" name="convert_pointcloud">
        <remap from="scan" to="tilted_scan"/>
        <param name="fixed_frame" type="string" value="base_link" />
    </node>
-->
    <include file="$(find orne_box_bringup)/launch/includes/base.launch.xml"/>

    <node type="merge_measured_data.py" pkg="orne_box_tilted_lidar" name="merged_data_node"/>
</launch>

